<div class="d-flex justify-content-center mt-5" >
  <div class="card text-dark w-75 mt-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="card-header bg-dark text-center text-white">
      <%#= render "devise/shared/error_messages", resource: resource %>
      ユーザー登録
    </div>

    <div class="card-body bg-light" >
      <%= render 'layouts/error_messages', model: f.object %>
       <div class="field">
        <%= f.label :名前, class: "mt-3" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名を入力", class: "form-control w-50" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス, class: "mt-3" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "form-control w-75" %>
      </div>

      <div class="field">
        <%= f.label :パスワード, class: "mt-3" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", class: "form-control w-50" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認, class: "mt-3" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを入力", class: "form-control w-50" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" ,class: "mt-3 btn btn-dark" %>
        <%#= render "devise/shared/links", class: "mt-3 btn btn-dark" %>
        <%= link_to "ログインはこちら", new_session_path(resource_name), class: "mt-3" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

