<div class="container">
	<div class="card pl-5 pr-3 my-5 mx-5 pt-3 bg-light">
		<div class="row mt-5">
			<div class="col-3">
				<p><%= attachment_image_tag user, :profile_image, :fill, 200, 190, fallback: "no-image-user.png", size: '200x190', class: "img-fluid" %></p>
			</div>
			<div class="col-2">
				<h2 class="text-nowrap"><%= user.name %></h2>
				<% if user == current_user %>
					<p class="text-nowrap"><%= user.email %></p>
					<p><%= link_to "編集する", edit_user_path(user), class: "btn btn-dark text-nowrap" %></p>
					<p><%= link_to "退会する", user_path(user), method: :delete, data: { confirm: '本当に退会してよろしいですか？', cancel: 'やめる', commit: '退会する'}, title: '確認', class: "btn btn-danger my-3 text-nowrap" %></p>
				<% else %>
					<% if user.followed_by?(current_user) %>
						<%= link_to "フォロー解除", user_relationship_path(user), method: :delete, class: "btn btn-outline-primary" %>
					<% else %>
						<%= link_to "フォロー", user_relationships_path(user), method: :post, class: "btn btn-outline-primary" %>
					<% end %>
				<% end %>
			</div>
