<div class="container">
	<div class="row mt-5">
		<% @users.each do |user| %>
			<div class="col-4">
				<div class="card p-3 mr-5 mb-3">
					<div class="card-header d-flex justify-content-between">
						<%= link_to user_path(user) do %>
							<span class="text-nowrap"><%= user.name %></span>
						<% end %>
						<% if current_user != user %>
							<% if user.followed_by?(current_user) %>
								<%= link_to "フォロー解除", user_relationship_path(user, Relationship.find_by(follower_id: user.id, following_id: current_user.id)),method: :delete, class: "btn btn-primary btn-small" %>
							<% else %>
								<%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-primary" %>
							<% end %>
						<% end %>
					</div>
					<div class="card-body">
						<%= link_to user_path(user) do %>
							<%= attachment_image_tag user, :profile_image, :fill, 50, 50 %>
						<% end %>
							<%= user.introduction.truncate(20, omission:'...') %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="d-flex justify-content-end">
		<%=paginate @users, class: "paginate" %>
	</div>
</div>


