<div class="jumbotron">
	<h1 class="display-4">ようこそnekozeへ</h1>
	<p class="lead">サイトの説明を入れます</p>
</div>

<div class="container">
	<div class= "row">
		 <div class="col-3">
			<%= render 'posts/rank', ranks: @rank  %>
		</div>

		<div class="col-9">
			<br>
			<br>
			<br>
			<br>
			<div class= "row">

				<% @posts.each do |post| %>
					<div class="col-4">
						<div class="card mb-3">
							<div class="card-header">
								投稿者: <%= link_to post.user.name, user_path(post.user) %>
							</div>

							<div class="card-body">
									<p class="post_title text-nowrap"><%= post.title %></p>
									<%= link_to post_path(post) do %>
										<%= attachment_image_tag post, :image, :fill, 200, 200 %>
									<% end %>
									<% if post.catname.present? %>
									<p><span class="bg bg-success text-white" ><%= post.catname %></span></p>
									<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-end">
	<%=paginate @posts, class: "paginate" %>
	</div>
</div>
