<div class="jumbotron">
	<h1 class="display-4">ようこそnekozeへ</h1>
	<p class="lead">サイトの説明を入れます</p>
</div>

<div class="container">
	<div class= "row">
		<% @posts.each do |post| %>
			<div class="card">
				<div class="card-header">
					投稿者: <%= link_to post.user.name, user_path(post.user) %>
				</div>

				<div class="card-body">
					<div class="col-md-1">
						<%= link_to post.title, post_path(post), class: "text-nowrap" %>
					</div>
					<div class="col-md-3">
						<%= link_to post_path(post) do %>
							<%# post.photos.each do |photo| %>
							<%= attachment_image_tag post, :image, :fill, 200, 200 %>
						<% end %>
					</div>
						<% if post.catname.present? %>
						<span class="bg bg-success text-white" ><%= post.catname + "ちゃん" %></span>
						<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>