<div class="d-flex justify-content-center mt-5">
	<div class="card text-dark w-75">
		<div class="card-header bg-success text-center text-white">
			新規投稿
		</div>

		<div class="card-body bg-light" >
			<div class="form-group">
				<%= form_with model: @post do |f| %>
				<div class="form-row">
					<div class="col-md-7">
						<%= f.label :タイトル %>
						<%= f.text_field :title, class: "form-control w-75" %>
					</div>
					<div class="col-md-5">
						<p><%= f.label :ジャンル %></p>
						<p><%= f.select :genre,[["食事、料理","食事、料理"],["ペット、動物","ペット、動物"],["風景","風景"],["日常","日常"]] %></p>
					</div>
				</div>
					<%= f.label :本文 %>
					<%= f.text_field :body, class: "form-control" %>
					<%= f.fields_for :photos do |i| %>
						<%= i.attachment_field :image, class: "form-control-file my-3" %>
					<% end %>
					<%= f.submit "投稿", class: "btn btn-dark my-3" %>
				<% end %>
			</div>
		</div>
	</div>
</div>