<div class="d-flex justify-content-center">
	<div class="card pl-5 pr-3 my-5 mx-5 pt-3 bg-light">
		<div class="row ">
			<div class="col-md-6">
				<div class= "d-flex flex-row">
					<h1 class="text-nowrap"><%= @post.title %></h1>
					<% if @post.catname.present? %>
					<p class="align-self-center mx-auto bg bg-success text-white"><strong><%= @post.catname + "ちゃん" %></p></strong>
					<% end %>
				</div>
			</div>
			<div class="col-md-6 border-bottom ">
				<div class= "d-flex flex-row">
					<%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, class: "img-fluid" %>
					<h2 class="mx-auto text-nowrap "><%= @post.user.name %></h2>
					<% if @post.user != current_user %>
						<% if @post.user.followed_by?(current_user) %>
							<%= link_to "フォロー解除", user_relationship_path(@post.user), method: :delete, class: "btn btn-outline-primary w-50 mx-auto align-self-center" %>
						<% else %>
							<%= link_to "フォロー", user_relationships_path(@post.user), method: :post, class: "btn btn-outline-primary w-50 mx-auto align-self-center" %>
						<% end %>
					<% else %>
						<%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-dark w-50 mx-auto align-self-center" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row ">
			<div class= "col-6">
				<%= attachment_image_tag @post, :image, :fill, 600, 450, class: "img-fluid" %>
			</div>
			<div class="col-6">
				<p class="border-bottom"><%= @post.body %></p>
				<% @post.comments.each do |comment| %>
					<% if comment.user == current_user %>
						<p><%= comment.user.name %>
						<%= comment.created_at.strftime('%Y/%m/%d') %>
						<%= comment.comment %>
						<%= link_to post_comment_path(@post, comment),method: :delete do %>
							<i class="fas fa-times-circle"></i></p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<% if @post.liked_by?(current_user).present? %>
					<%= link_to post_like_path(@post), method: :delete do %>
						<i class="fa fa-heart fa-2x" aria-hidden="true" style="color: red;"></i>
						<span class="text-nowrap"><%= @post.likes.count %> いいね</span>
					<% end %>
				<% else %>
					<%= link_to post_likes_path(@post), method: :post do %>
						<i class="fa fa-heart-0" aria-hidden="true" ></i>
						<span class="text-nowrap"><%= @post.likes.count %> いいね</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= form_for [@post, @comment] do |f| %>
					<%= f.text_area :comment, class: "form-control w-75", placeholder: "コメントを入力" %>
					<%= f.submit "送信する", class: "btn btn-outline-dark w-50 my-3" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

